.vscode/**
.vscode-test/**
.gitignore
.gitattributes
.yarnrc
src/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.tgz
node_modules/**
webpack.config.js
.github/**
.eslintrc.json
.npmrc
vsc-extension-quickstart.md
**/eslint.config.mjs
**/.vscode-test.*
